/source/node_modules
/source/public/hot
/source/public/storage
/source/storage/*.key
/source/storage
/source/vendor
.env
/source/.env
/source/.env.testing
.phpunit.result.cache
docker-compose.override.yml
npm-debug.log
yarn-error.log
/source/.gitignore
.idea/*
.idea/workspace.xml
/.vs
/source/.idea
