#Project prefix must be lowercase. All ports can remain the same if
#running the project alone. If running multiple docker-based projects
#then each port will need to be different (+1 to each port as a base)
DOCKER_PROJECT_PREFIX=pokedex
DOCKER_NGINX_PORT=8080
DOCKER_NGINX_PORT_XDEBUG=9005
DOCKER_MYSQL_PORT=7703
DOCKER_PHP_PORT=9000
DOCKER_REDIS_PORT=6379

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DRIVER=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1